.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
  
  .site-layout-background {
    background: #fff;
  }

  #hellobutton {
    /* color: rgb(75, 236, 36); */
    /* color: #9DD572; */
    color: #5E72A1;
    border-color: #fff;
    background-color: #fff;
}

#hellobutton:focus {
  box-shadow: 0 0 0 0 #fff;
}

#linktext {
  color: rgb(140, 138, 143);
}

#bodydiv {
  /* padding: 50px 50px 200px 200px; */
  /* padding: 50% 50% 0 0 */
  padding: 50px 25% 50px 25%
}

#watertextdiv {
  margin: auto;
  width: 10%;
  padding: 0px 10px 10px 10px;

}
